* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-flow: column;
    background-color: #1d2025;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    background-color: #2b303a;
    height: 5%;
    padding: 0rem 1rem;
}

#rewind {
    color: #dfac3f;
}

#story {
    background-color: #2b303a;
    color: #d8dee9;
    font-size: 1.5rem;
    width: 70%;
    height: 80%;
    margin: auto;
    padding: 3rem;
}

#story-text {
    margin-bottom: 2rem;
}

#story-choices  {
    color: #dfac3f;
    width: 90%;
    margin-bottom: 1rem;
}