@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');



/* for anything other than a phone */

@media (min-width: 601px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        display: flex;
        flex-flow: column;
        background-color: #1d2025;
        font-family: 'Fira Code', monospace;
    }

    nav {
        display: flex;
        align-items: center;
        background-color: #2b303a;
        padding: 1rem 1rem;
        margin-bottom: 3rem;
    }

    #story {
        background-color: #2b303a;
        color: #d8dee9;
        font-size: 1.5rem;
        width: 70%;
        margin: auto;
        margin-bottom: 3rem;
        padding: 3rem 4rem;
    }

    #story-text {
        text-align: justify;
    }

    .story-choice {
        margin-top: 2rem;
        text-align: justify;
    }

    .button {
        color: #dfac3f;
        cursor: pointer;
    }
}



/* for mobile devices */

@media (max-width: 600px) {

    * {
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    body {
        background-color: #1d2025;
        font-family: 'Fira Code', monospace;
        background-image: url("./background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }

    nav {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(40px);
        padding: 1rem 1rem;
    }

    #story {
        color: #d8dee9;
        font-size: 1rem;
        padding: 1.5rem 1.5rem;
        overflow: scroll;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        min-height: inherit;
    }

    #story-text {
        text-align: justify;
    }

    .story-choice {
        margin-top: 1.5rem;
        text-align: justify;
    }

    .button {
        color: #dfac3f;
        cursor: pointer;
    }

}